POSTGRES_DB=lastsignal
POSTGRES_USER=
POSTGRES_PASSWORD=
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_REALM=lastsignal
KEYCLOAK_CLIENT_ID=lastsignal-api
KEYCLOAK_CLIENT_SECRET=
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
KEYCLOAK_URL=http://keycloak:8080
AI_API_KEY=
ENVIRONMENT=development
NGROK_AUTHTOKEN=