POSTGRES_DB=*
POSTGRES_USER=*
POSTGRES_PASSWORD=*
KEYCLOAK_ADMIN=*
KEYCLOAK_ADMIN_PASSWORD=*
KEYCLOAK_REALM=*
KEYCLOAK_CLIENT_ID=*
KEYCLOAK_CLIENT_SECRET=*
AI_API_KEY=*
ENVIRONMENT=development
NGROK_AUTHTOKEN=*