fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
python-dotenv
python-jose[cryptography]
httpx
pydantic
google-genai
langchain-google-genai 
langchain-community 
pgvector 
psycopg2-binary